a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: chocolate;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: red;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #2176FF;
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

.btn:hover {
  background-color: #ffffff;
  transition: all 1s ease;
}

.btn:active {
  font-size: 20px;
  color: violet;
  transition: font-size .1s ease-in-out;
}

.activity {
  display: inline-block;
  text-decoration: none;
  align-content: center;
  /* Ombres pour un effet surélevé */
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
  transition: all 0.3s ease; /* Animation fluide pour interactions */
}

.activity:hover {
  /* Plus d'ombre pour accentuer la surélévation */
  box-shadow: 8px 8px 15px #b0b0b0, -8px -8px 15px #ffffff;
}

.activity:active {
  /* Effet d'enfoncement */
  box-shadow: inset 5px 5px 10px #c1c1c1, inset -5px -5px 10px #ffffff;
}
